<!-- <p>presentacion-slide works!</p> -->
<header>
    <div class="row">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
                <picture>
                    <source media="(min-width:1024px)" class="d-block w-100" srcset="../../../../assets/images/inicio/sections/slides/Desktop/1.png">
                    <source media="(min-width:768px)" class="d-block w-100" srcset="../../../assets/images/inicio/sections/slides/iPad/normal-mini/1.png">
                    <source media="(min-width:280px)" class="d-block w-100" srcset="../../../assets/images/inicio/sections/slides/Mobile/1.png">
                    <img class="d-block w-100" src="../../../../assets/images/inicio/sections/slides/Desktop/1.png"
                        alt="Carmelita slide">
                </picture>
        
            </mdb-carousel-item>
            <mdb-carousel-item>
                <picture>
                    <source media="(min-width:1024px)" class="w-100" srcset="../../../assets/images/inicio/sections/slides/Desktop/2.png">
                    <source media="(min-width:768px)" class="w-100" srcset="../../../assets/images/inicio/sections/slides/iPad/normal-mini/2.png">
                    <source media="(min-width:280px)" srcset="../../../assets/images/inicio/sections/slides/Mobile/2.png">
                    <img class="d-block w-100" src="../../../../assets/images/inicio/sections/slides/Desktop/2.png"
                    alt="Lo hacemos artesanal slide">
                </picture>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <picture>
                    <source media="(min-width:1024px)" class="w-200" srcset="../../../../assets/images/inicio/sections/slides/Desktop/3.png">
                    <source media="(min-width:768px)" class="w-200" srcset="../../../../assets/images/inicio/sections/slides/iPad/normal-mini/3.png">
                    <source media="(min-width:280px)" srcset="../../../../assets/images/inicio/sections/slides/Mobile/3.png">
                    <img class="d-block w-100" src="../../../../assets/images/inicio/sections/slides/Desktop/3.png"
                    alt="Carmelita slide">
                </picture>
            </mdb-carousel-item>
        
        </mdb-carousel>
    </div>
</header>