<!-- <p>puntos-de-ventas-principal works!</p> -->
<div class="background">
    <div class="container mt-5 pt-5 section-title text-center">
        <h1 class="display-1">Nuestros puntos de ventas</h1>
      <div class="row justify-content-center mx-auto">
          
        <div class="col-lg-4 col-md-6 mb-4">
          <app-puntos-de-venta-mx-button></app-puntos-de-venta-mx-button>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <app-puntos-de-venta-eua-button></app-puntos-de-venta-eua-button>
        </div>
      </div>
    </div>
</div>
