<!-- <p>navbar works!</p> -->
<mat-toolbar color="primary"> 
    <mat-toolbar-row>
        <button mat-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="spacer"></div>
        <img src="../../../../assets/images/inicio/shared/navbar/carmelita-logo-modified.png" width="80" height="80"
                    alt="Logo Carmelita">
        <div class="spacer"></div>
        <button mat-button>
            <a href="https://usa.rompopecarmelita.com/" target="_blank"> <img src="../../../../assets/images/inicio/shared/navbar/eua.png" width="30" height="30"
                    alt="Cambiar a idioma inglés"> </a>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">Inicio/Nosotros/Contacto</button>
    <button mat-menu-item [routerLink]="['nuestra-historia']">Nuestra historia</button>
    <button mat-menu-item [routerLink]="['proceso-artesanal-y-recetas']">Proceso artesanal y recetas</button>
    <button mat-menu-item [routerLink]="['catalogo']">Catálogo</button>
    <button mat-menu-item [routerLink]="['puntos-de-ventas']">Puntos de ventas</button>
    <button mat-menu-item [routerLink]="['nuestra-familia']">Nuestra familia</button>
    <button mat-menu-item [routerLink]="['certificaciones']">Nuestras certificaciones</button>
</mat-menu>